/*所有页面实现毛玻璃特效*/
#aside-content{
    background: rgba(255,255,255,0);
    border-radius: 20px !important;
}

#aside-content > .card-widget:first-child {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px !important;
}

#aside-content .card-widget {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px !important;
}

.layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px !important;
}

#recent-posts > .recent-post-item {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px !important;
}
#recent-posts .recent-post-item {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(20px); 
    border-radius: 20px !important;
}
#page.nc {
    background: rgba(255,255,255,0);
    border-radius: 10px;
    border-radius: 20px !important;
}
#article-container .shuoshuo-item {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px !important;
}
html[data-theme="dark"] #aside-content {
    background: rgba(0,0,0,0);
}

html[data-theme="dark"] #aside-content > .card-widget:first-child {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(10px);
}

html[data-theme="dark"] #aside-content .card-widget {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(10px);
}

html[data-theme="dark"] .layout > div:first-child:not(.recent-posts) {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(10px);
}

html[data-theme="dark"] #recent-posts > .recent-post-item {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(10px);
}

html[data-theme="dark"] #recent-posts .recent-post-item {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(20px); 
}

html[data-theme="dark"] #article-container .shuoshuo-item {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(10px);
}
